header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
    height: 4rem;
}

header img {
    margin-left: 1rem;
}

header ion-icon {
    margin-right: 1rem;
    font-size: 35px;
}